<h3>{{ gqCtrl.hello }}</h3>
<div class="panel panel-default">
    <div class="panel-heading">Ask Questions That Makes You Better Student</div>
    <div class="panel-body">
        <p>
        이 질문 인터페이스는 질문하기를 수줍어하는 당신을 위해 당신에게 맞는 질문 템플릿을 추천해줍니다. 당신이 할일은 단지 빈칸에 당신의 단어를 채워 넣는 일입니다.
        </p>
        <p>
            This questioning interface suggests you question template that can help you asks. 
        </p>
        <p>Let's begin now!</p>
        <div class="form-group">
            <label for="userName">Before you start, please write your name</label>
            <input type="text" id="userName"
                    ng-model="userName" class="form-control" class="form-control">
        </div>
        <button class="btn btn-primary" ui-sref="course({lecNum:0, lecInterval:0})" ng-click="setUser(userName); sendCookie(userName)">Start</button>
    </div>
</div>
