<h3>{{ gqCtrl.hello }}</h3>
<div class="panel panel-default">
    <div class="panel-heading">Ask Questions That Makes You Better Student</div>
    <div class="panel-body">
        <p>
            This questioning interface recommends you shy with asking an adaptive question template. 
        </p>
        <p>Let's begin now!</p>
        <div class="form-group">
            <label for="userName">Before you start, please write your name</label>
            <input type="text" id="userName"
                    ng-model="userName" class="form-control" class="form-control">
        </div>
        <button class="btn btn-primary" ui-sref="course({lecNum:0, lecInterval:0})" ng-click="setUser(userName); sendCookie(userName)">Start</button>
    </div>
</div>
